.container
    width: 100%
    max-width: 1142px
    margin: auto
.row
    display: flex
    align-items: center
    justify-content: space-between

*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: 'Roboto', serif
    font-size: 1rem

.button
    padding: 1.125rem 2.5rem
    text-decoration: none
    text-transform: uppercase
    font-weight: bold
    font-size: 1.0625rem
    border-radius: 5px
    &--primary
        background-color: $darkerBlue
        color: $light
    &--secondary
        padding: 1.0625rem 2.4375rem
        background-color: transparent
        color: $light
        border: 1px solid $darkerBlue


